body {
	color: #666666;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	height: 100vh;
	margin: 0;
}

.header {
	background: rgba(0,0,0,0.6);
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
}

.header__wrapper {
	margin: 0 0.5em;
}

.header__title {
	color: #FFFFFF;
	float: left;
	font-size: 2em;
	margin: 0;
	text-transform: lowercase;
	font-weight: 300;
}

.header__nav {
	float: right;
}

.header__nav__items {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.header__nav__item {
	display: inline-block;
}

.header__nav__item a {
	color: #FFFFFF;
	text-decoration: none;
	display: block;
	padding: 0.875em 1em;
}

.header__nav__item a:hover {
	background-color: #666666; 
}

.main__wrapper {
	margin: 0 auto;
	max-width: 992px;
	line-height: 32px
	padding: 0.875em 1em;
}

.hero {
	background-image: url(../images/office.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 20em;
}

.footer__wrapper {
	margin: 0 auto;
	max-width: 992px
}